
<H2>Confirm Code</H2>
<br>
<br>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <br>
  <form method="POST" action "">
      
      {{ form.hidden_tag() }}
      {{ form.confirm_code.label }}<br>
      {{ form.confirm_code(size=20)}}<br><br>
      
      <input type="submit" name="action" value="Confirm Code" width="140">
      <input type="submit" name="action" value="Regenerate Confirm" width="170"><br><br>

  </form>
 <br><br>
