<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{ url_for('static',filename='style.css')}}/>
  </head>
  <div id="page-wrap">
  <body>
    <title>get proverbs</title>
    <font size ="36">get proverbs</font></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p><div class="{{ category }}">{{ message }}</div></p>
                {% endfor %}
            {% else %}
                <br>
            {% endif %}
        {% endwith %}
    <form action "{{url_for('home')}}"  method="post">
        {{form.hidden_tag()}}
        {{form.phone.label}}
        {{form.phone(placeholder="1234567890")}}<br><br>
        <input type="submit" class="button" name="action" id="submit" value="SIGN UP / UPDATE">
    </form><br>
    <p>Proverbs will be sent to your phone based on selected tags and frequency. You can come back anytime to unsubscribe or update preferences.</p>
  </body>
  </div>
</html>
