<html>
  <head>
    <title>Proverbs</title>
  </head>
<H1>Proverbs</H1>
  <br>

<a href="{{url_for('subscribe')}}">Subscribe to text messages here!</a>
<H3>Clock</H3>
  <body>
{{time}}
  <br><br><br>
<H3>Categorize</H3>
Examples:&nbsp[pride, self-control, work, love, speech, money, knowledge, discipline, alcohol]<br><br>
  <form method="POST" action "{{url_for('home')}}">
      {{ form.hidden_tag() }}
      {{ form.search(size=20)}}
      <input type="submit" name="action" value="search" width="140">
  </form>
  <br>

{% for verse in verses %}
 {{verse.Line}}&nbsp&nbsp{{verse.Chapter}}:{{verse.Verse}} <br><br>
{% endfor %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}



  </body>

<footer>
  <p>
  <a href="{{url_for('manage')}}">Manage my subscription.</a>
  </p>
</footer>



</html>
