
<H2>Manage My Subscription</H2>
<br>
<br>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <br>

  <form method="POST" action "{{url_for('manage')}}">
      
      {{ form.hidden_tag() }}
      {{ form.phone.label }}<br>
      {{ form.phone(size=20)}}<br><br>
      
      <input type="submit" name="action" value="Update Subscription" width="170">
      <input type="submit" name="action" value="Unsubscribe" width="140">
      <input type="submit" name="action" value="Return Home" width="140"><br><br>

     
      {% if update == True %}
      {{ form1.frequency.label }}<br>
      {{ form1.frequency()}}<br><br>
      {{ form1.taglist.label }}<br>
      {{ form1.taglist()}}<br><br>
      <input type="submit" name="action" value="Submit Changes" width="140"><br>
      {% else %}
      {% endif %}
  </form>
 <br><br>
