<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{ url_for('static',filename='style.css')}}/>
  </head>
  <div id="page-wrap">
  <body>
    <title>get proverbs</title>
    <font size ="36">get proverbs</font></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p><div class="{{ category }}">{{ message }}</div></p>
                {% endfor %}
            {% else %}
                Please select your preferences.<br><br>
            {% endif %}
        {% endwith %}
    <form action ""  method="post">
        {{form.hidden_tag()}}
        {{form.frequency()}}
        {{form.taglist()}}
        <input type="submit" class="button" name="action" id="submit" value="SUBMIT">
        {% if unsubscribe == True %}
            <input type="submit" class="button" name="action" id="submit" value="UNSUBSCRIBE">
        {% endif %}
    </form>
  </body>
  </div>
</html>
